.menu {
    padding: 20px 15px;
    max-width: 140px;
    display: flex;
    flex-direction: column;
    text-align: initial;
    margin: 0;
}

.menu-item {
    list-style: none;
}

.active {
    font-weight: bold !important;
}